extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/chat.css')

block content
  div(ng-controller="chatController")
    .wrapper
      .container
        .left
          .top
            ul.tab
              li.conversations(ng-click="changeTab(1)")
                a(ng-class="{active:activeTab===1}") Chats
              li.onlineUsers(ng-click="changeTab(2)")
                a(ng-class="{active:activeTab===2}") Online Users
          .tabArea
            .tab-left(ng-show="activeTab === 1")
              ul.people
                li.person(ng-repeat="room in roomList"  ng-click="switchRoom(room)")
                  span.name {{room.name}}
                  span.preview  &nbsp;
            .tab-right(ng-show="activeTab === 2")
              ul.people
                li.person(ng-repeat="user in onlineList")
                  img(ng-src="{{user.meta.profilePhotoUrl}}")
                  span.name {{user.meta.name}} {{user.meta.surname}}
                  span.preview &nbsp;
          .bottom
            button(ng-click="newRoom()") New Room
        .right(ng-show="chatClicked")
          .top
            span
              span.name {{chatName}}
          .chat.active-chat
            .bubble.you
              span Hakan Ayd覺n
              | Hello, can you hear me?
            .bubble.you
              span Hakan Ayd覺n
              | I'm in California dreaming
            .bubble.me ... about who we used to be.
            .bubble.me Are you serious?
            .bubble.you
              span Hakan Ayd覺n
              | When we were younger and free...
            .bubble.you
              span Hakan Ayd覺n
              | I've forgotten how it felt before
          .write
            form(ng-submit="newMessage()")
              input(ng-model="message")
              a.write-link.send(ng-click="newMessage()")
        .right(ng-show="!chatClicked")
          img(ng-src="https://steamuserimages-a.akamaihd.net/ugc/278473128263470520/7F199C5F8A9A29D06997F96BC6E07C886AA266B3/" width="100%" height="100%")

append javascripts
  script(src="http://localhost:3000/socket.io/socket.io.js")
  script(src="/javascripts/controller/chatController.js")

